<Project>
  <PropertyGroup>
	<UseWPF>true</UseWPF>
    <TargetFramework>net6.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
	<UseWindowsForms>true</UseWindowsForms>   
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <TrimMode>link</TrimMode>
    <GenerateAppInstallerFile>true</GenerateAppInstallerFile>
  </PropertyGroup>
</Project>
